{% extends 'layout.html' %}

{% block title %} About Mr. President {% endblock %}
{% block viewport%}  <meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock%}
{% block  style %} 
<link rel="stylesheet" href="static/css/game2.css"> 

{%endblock%}
{% block content %}

<section id ="quiz2">
    <h1>Test your Knowledge</h1>
    <div class= "games-container ">
        <div class= "quiz-game">
         <a href="/game/1"> Quiz Game</a>
         <img src="{{ url_for('static', filename='img/Quiz.webp') }}" alt="pf">
        </div>
        <div class= "guess-game"> 
            <a href="/game/2"> Guess Game</a> 
            <img src="{{ url_for('static', filename='img/Guess.webp') }}" alt="pf">
        
        </div>

    </div>
    
    
</section>



{% endblock %}

   {% block script%}
   <script src="static/script/mygame.js"></script>
   {% endblock %}
   