{% extends 'layout.html' %}

{% block title %} About Mr. President {% endblock %}
{% block viewport%}  <meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock%}
{% block  style %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/game2.css') }}"> 

{%endblock%}
{% block content %}

<section id ="quiz2">
    <h1>Guessing Game</h1>
    <div class="mypresident"></div>
    <div class="text-box-container">
        <label for="input-box" class="text-box-label"></label>
        <input type="text" id="input-box" class="text-box" placeholder="Type something...">
    </div>


</section>



{% endblock %}

   {% block script%}
   <script src="{{ url_for('static', filename='script/game2.js') }}"></script>
   {% endblock %}
   