<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/mediaqueries.css">
    <title>Hello_President</title>

</head>
<body>
    <nav id="desktop-nav">
        <div class='logo'> 
        <a href="#"> Mr.President</a>    
        </div>
        <ul class="nav-menu">
            <li> <a href="home"> Home</a></li>
            <li> <a href="profile"> Profile</a></li>
            <li> <a href="profile"> Quiz</a></li>
            <li> <a href="jumpTo"> Jump</a></li>
            <li> <a href="about.html"> About</a></li>
        </ul>
    </nav>

    <nav id="hamburger-nav">
        <div class="logo">
            <a href="#"> Mr.President</a> 
        </div>

        <div class="hamburger-menu">
            <div class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-item">
                <li> <a href="home" onclick="toggleMenu()"> Home</a></li>
                <li> <a href="profile" onclick="toggleMenu()">Quiz</a></li>
                <li> <a href="profile" onclick="toggleMenu()"> Profile</a></li>
                <li> <a href="jumpTo" onclick="toggleMenu()"> Jump</a></li>
                <li> <a href="about.html" onclick="toggleMenu()"> About</a></li>
            </div>
        </div>
        
    </nav>
            
    <section id="timeline">
        <ul>
            <li>
                <div class = "president_box">
                    <div class = "box_heading">
                        <h3 class = "title">George Washington <span class = "year"> 1789-1797 </span></h3>
                    </div>
                    <div class = "box_body">
                        <img src = "../asset/img/joeBiden.png">
                        <p> Info goes here. </p>
                        <button>Read More</button>
                    </div>
                </div>
            </li>

            <li>
                <div class = "president_box">
                    <div class = "box_heading">
                        <h3 class = "title">George Washington <span class = "year"> 1789-1797 </span></h3>
                    </div>
                    <div class = "box_body">
                        <img src = "../asset/img/joeBiden.png">
                        <p> Info goes here. </p>
                        <button>Read More</button>
                    </div>
                </div>
            </li>
        </ul>
            <li>

            </li>
    </section>
       

        
       
   <script src="../static/script/script.js"></script>
    
</body>
</html>