<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/mediaqueries.css">
    <title>Hello_President</title>

</head>
<body>
    <nav id="desktop-nav">
        <div class='logo'> 
        <a href="#"> Mr.President</a>    
        </div>
        <ul class="nav-menu">
            <li> <a href="index.html"> Home</a></li>
            <li> <a href="timeline.html"> Profile</a></li>
            <li> <a href="profile"> Quiz</a></li>
            <li> <a href="jumpTo"> Jump</a></li>
            <li> <a href="about.html"> About</a></li>
        </ul>
    </nav>

    <nav id="hamburger-nav">
        <div class="logo">
            <a href="#"> Mr.President</a> 
        </div>

        <div class="hamburger-menu">
            <div class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-item">
                <li> <a href="index.html" onclick="toggleMenu()"> Home</a></li>
                <li> <a href="timeline.html" onclick="toggleMenu()"> Profile</a></li>
                <li> <a href="#" onclick="toggleMenu()">Quiz</a></li>
                <li> <a href="#" onclick="toggleMenu()"> Jump</a></li>
                <li> <a href="about.html" onclick="toggleMenu()"> About</a></li>
            </div>
        </div>
        
    </nav>
    
    <section id ="timeline">
        <div class="timetine-title">Presidents Of United States Of America</div>
        <div class="timeline-containers">
            <div class="timeline-container">
                <div class="timeline-dot"></div>
                <div class="timeline-rank">46th</div>
                <div class="textbox">
                    <img src="../asset/img/joeBiden.jpg">
                    <h3 class = "title">Joe Biden </h3>
                    <p> 2021-Present </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco
                         laboris nisi ut aliquip.</p>
                    <button class='btn'> Read More</button>
                </div>
            </div>
                <div class="timeline-container">
                    <div class="timeline-dot"></div>
                    <div class="timeline-rank">45th</div>
                    <div class="textbox">
                        <img src="../asset/img/45_Trump.jpeg">
                        <h3 class = "title">Donald Trump </h3>
                        <p> 2017-2021 </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco
                             laboris nisi ut aliquip.</p>
                        <button class='btn'> Read More</button>
                    </div>
                </div>
                <div class="timeline-container">
                    <div class="timeline-dot"></div>
                    <div class="timeline-rank">44th</div>
                    <div class="textbox">
                        <img src="../asset/img/44_Obama.jpeg">
                        <h3 class = "title">Barack Obama</h3>
                        <p> 2009-2017 </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco
                             laboris nisi ut aliquip.</p>
                        <button class='btn'> Read More</button>
                    </div>
                </div>
                <div class="timeline-container">
                    <div class="timeline-dot"></div>
                    <div class="timeline-rank">44th</div>
                    <div class="textbox">
                        <img src="../asset/img/43_Bush.jpeg">
                        <h3 class = "title">George W. Bush </h3>
                        <p> 1789-1797 </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco
                             laboris nisi ut aliquip.</p>
                        <button class='btn'> Read More</button>
                    </div>
                </div>
            
                <div class="timeline-container">
                    <div class="timeline-dot"></div>
                    <div class="timeline-rank">44th</div>
                    <div class="textbox">
                        <img src="../asset/img/42_Clinton.jpeg">
                        <h3 class = "title">Bill Clinton </h3>
                        <p> 1789-1797 </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco
                             laboris nisi ut aliquip.</p>
                        <button class='btn'> Read More</button>
                    </div>
                </div>

                <div class="timeline-container">
                    <div class="timeline-dot"></div>
                    <div class="timeline-rank">44th</div>
                    <div class="textbox">
                        <img src="../asset/img/41_Bush.jpeg">
                        <h3 class = "title">George H. W. Bush </h3>
                        <p> 1789-1797 </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco
                             laboris nisi ut aliquip.</p>
                        <button class='btn'> Read More</button>
                    </div>
                </div>
        </div>
    </div>
    </section>
       
   <script src="../static/script/script.js"></script>
</body>
</html>