<!DOCTYPE html>

<head>
    <title>Our About Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaqueries.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutstyles.css') }}">
    
</head>

<body>
    <nav id="desktop-nav">
        <div class='logo'> 
        <a href="#"> Mr.President</a>    
        </div>
        <ul class="nav-menu">
            <li> <a href="/"> Home</a></li>
            <li> <a href="timeline.html"> Profile</a></li>
            <li> <a href="#"> Quiz</a></li>
            <li> <a href="#"> Jump</a></li>
            <li> <a href="/about"> About</a></li>

            <li onclick="showSidebar()">
                <a href="#">
                    <img src="https://img.icons8.com/?size=100&id=36389&format=png&color=FFFFFF" alt="icon" class="navbar-icon">
                </a>
            </li>
            
        </ul>
    </nav>

    <nav id="hamburger-nav">
        <div class="logo">
            <a href="#"> Mr.President</a> 
        </div>

        <div class="hamburger-menu">
            <div class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-item">
                <li> <a href="/" onclick="toggleMenu()"> Home</a></li>
                <li> <a href="timeline.html" onclick="toggleMenu()"> Profile</a></li>
                <li> <a href="#" onclick="toggleMenu()">Quiz</a></li>
                <li> <a href="#" onclick="toggleMenu()"> Jump</a></li>
                <li> <a href="/about" onclick="toggleMenu()"> About</a></li>
            </div>
        </div> 
    </nav>

    {% block content %}{% endblock %}

   <script src="../static/script/script.js"></script>

</body>
</html>