@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,500;1,6..96,500&display=swap');
/* about */
h1{
    font-size: 50px;
    font-style: italic;
    margin: 10px;
    text-align: center;
}
h2{
    font-size: 35px;
}

/* *{
    font-family: "Playfair Display", serif; 
    font-weight: 300;
    font-size: 30px;
    text-decoration: none;
    color:brown;
} */

.menu-item a{
    display: block; 
    padding:10px;
    text-align: center; 
    font-size: 0.75rem;
    text-decoration: none; 
    transition: all 0.5s ease-in-out;
}

.whiteHouse{
    border-radius: 20px;
    border: 5px solid black;
    margin: 30px;
    width: 100%; 
    height: 100%;
}

#section__about{
    display: flex;
    margin: 20px;
    padding: 10px 20px;
    align-self: center;
    flex-direction: column;
}

.containter__author{
    margin: 20px; 
    padding: 50px; 
}

.about__purpose{
    min-width: auto;
    text-align: center;
    align-items: center;
}


.about__author, .about__purpose{
    display: flex; 
    flex-direction: column;
    margin: 10px;
}

.author__photo{
    width: 30%;
    min-width: 175px;
}
.author__photo img {
    width: 175px; 
    height: 175px; 
    object-fit: cover; 
    border-radius: 50%; 
    justify-content: end;
}

.author{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
.author__text{
    padding: 0 20px;
    width:100%;
    height: 100%;
    min-width: 300px;
    text-align: center;
}
p {
    font-size: 20px;
}

.tiny_picture img{
    width: 50px;
    border-radius: 15%;
    margin: 10px;
    
}
.contacts_author{
    display: flex inline;
    flex-direction: row;
    padding: 10px;
}

.theme{
    display: flex inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #111220;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

* .light-mode {
    background-color: #fdefdd;
    color:brown;
}

