/*  home css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header img {
    width: 100%;
    height: auto;
    display: block;
}

.description-cont {
    background-color: #f0f0f0; 
    padding: 20px;
    text-align: center;
}

.description-text p{
    font-size: 1.2em;
    color: #333; 
}

.description-text h1{
    font-size: 2em;
    color: #333; 
}

.container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.item {
    background-color: #ffffff; 
    border: 1px solid #ccc; 
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    flex: 1 1 calc(50% - 40px);
    max-width: 250px;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Image styles */
.item img {
    width: 100%;
    height: auto;
    display: block;
}

.item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #0c1f34; 
    font-weight: bold;
    border-top: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s;
}

.item a:hover {
    background-color: #f7f7f7; 
    color: #111b25; 
}

@media (max-width: 768px) {
    .item {
        flex: 1 1 100%; 
        max-width: 100%;
    }
}
