body{
    background-color: rgb(241, 222, 199);
}

h1{
    font-style: italic;
    font-weight: bold;
    color: rgb(231, 99, 99);
    font-size: 50px;
    text-align: center;
    font-family: 'Copperplate';
    margin:0px;
}

h2{
    font-style: italic;
    font-weight: bold;
    color: rgb(231, 99, 99);
    font-size: 40px;
    text-align: center;
    font-family: 'Copperplate';
    margin:10px;
}

h3{
    font-style: italic;
    font-weight: bold;
    color: rgb(231, 99, 99);
    font-size: 30px;
    text-align: center;
    font-family: 'Copperplate';
    margin:20px;
}

h4{
    font-style: italic;
    color: rgb(231, 99, 99);
    font-size: 20px;
    text-align: center;
    font-family:'Copperplate';
    margin:10px;
}

p{
    color: black;
    font-size: 15px;
    margin: 15px 15px;
    padding: 10px 10px;
    text-align: center;
    font-family: 'Copperplate';
}

img{
    border : 5px double darkgoldenrod;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

text{
    text-decoration:darkgoldenrod;
}

ul{
    text-align: center;
    padding: 0px 20px;
}

li{
    display:inline;
    padding: 0px 40px;
    color:azure;
}
a{
    color:aliceblue;
}

nav{
    background-color: rgb(88, 88, 216);
    padding: 2px;
}

.vertical-line {
    height: 10000px; 
    border-left: 4px solid rgb(231, 99, 99); 
    position: absolute;
    left: 50%;
    margin-left: -2px;
    margin-top: 25px;
}

.event {
    height: 2px;
    width: 25px;
    border-left: 15px solid rgb(231, 99, 99); 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
}

.specialimg{
    border:0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#bubble {
    border-radius: 25px;
    border: 2px solid rgb(88, 88, 216);
    padding: 20px;
    width: 200px;
    height: 150px;
  }