@media screen and (max-width:800px){
    #desktop-nav{
        display:none;
    }
    #hamburger-nav{
        display:flex;
    }
    .author1, .author2, .author3{
        flex-direction: column;
    }

    #section__about{
        margin: 20px;
        padding: 10px;
    }

    .containter__author{
        margin: 10px; 
        padding: 10px; 
    }
}