/* mobilemode */
@media screen and (max-width:920px){
    #desktop-nav{
        display:none;
    }
    #hamburger-nav{
        display:flex;
        z-index: 1;
        margin-bottom: 20px;
    }
    .author{
        flex-direction: column;
    }

    #section__about{
        margin: 20px;
        padding: 10px;
    }

    .containter__author{
        margin: 10px; 
        padding: 10px; 
    }

    /* Timeline */
    .timeline-containers::before{
        left: 5px;
    }
    .timeline-container:nth-child(odd){
        padding-right: 0; 
        text-align: left; 
    }

    .timeline-container:nth-child(odd) .timeline-rank{
        margin: 6px 0 15px;
    }

    .timeline-container:nth-child(odd), 
    .timeline-container:nth-child(even){
        padding-left: 37px; 
    }

    .timeline-dot{
        left: 0px; 
    }
    .games-container {
        width: 100%;
        height: 100%;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
        gap: 20px; 
        margin-top: 20px
    }

    /* card president profile */
    .president-cards {
        flex-direction: column; /* Stack cards vertically */
        align-items: center; /* Center content */
        gap: 20px;
    }

    .president-card {
        width: 90%; /* Adjust width to fit smaller screens */
    }

}

