
.navbar{
    display:flex; 
    background-color: whitesmoke; 
}

.navcon{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo{
    font-size: 35px; font-weight: 600; color:blue;
}

a:hover{
    background-color: rgb(205, 145, 145);
}

li {
    list-style: none;
    display: inline-block;
}

a{
    padding-left: 15px;
    padding-right:15px;
    text-decoration: none;
}




