{% extends 'layout.html' %}
{% block viewport%}  <meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock%}

{% block title %}{{page_title}}{% endblock %}

{% block content %}
    <div class="searchBox">
        <input type="text" placeholder='Search....' id ='search'>
        <a href="#">
            <img src="../static/img/search.png">
        </a>    
        <ul id='results'>

        </ul>
    </div>


    <section id ="timeline">
        <div class="timetine-title">Presidents of the United States Of America</div>
        <div class="timeline-containers"></div>
    </div>
    </section>

    <div id="flyIcon" onclick ='scrollUp()' >
        <img src="https://img.icons8.com/?size=100&id=166&format=png&color=000000" alt="flyicon"  />
    </div>
   

    
    

   {% endblock %}
