<!DOCTYPE html>

<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <meta charset="UTF-8">

    {% block viewport%} {% endblock%}
    {% block style%} {% endblock%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaqueries.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutStyles.css') }}">

    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
   
    
</head>

<body onload= getData()>
    <nav id="desktop-nav">
        <div class='logo'> 
        <a href="/home"> Mr.President</a>    
        </div>
        <ul class="nav-menu">
            
            <li> <a href="/home"> Home</a></li>
            <li> <a href="/profile"> Profile</a></li>
            <li> <a href="/game"> Game</a></li>
            <li> <a href="#"> Jump</a></li>
            <li> <a href="/about"> About</a></li>
        </ul>
    </nav>

    <nav id="hamburger-nav">
        <div class="logo">
            <a href="/home"> Mr.President</a> 
        </div>

        <div class="hamburger-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <!-- Sidebar that slides in -->
        <div class="hamburger-menu">
            <ul class="menu-item">
                <li>
                    <a onclick = toggleMenu()>
                        <img src="https://img.icons8.com/?size=100&id=46&format=png&color=000000" alt="Icon from Icons8" style="width: 50px; height: 50px;">
                    </a>
                   
                </li>
                <li><a href="/home" onclick="toggleMenu()">Home</a></li>
                <li><a href="/profile" onclick="toggleMenu()">Profile</a></li>
                <li><a href="/game" onclick="toggleMenu()">Game</a></li>
                <li><a href="#" onclick="toggleMenu()">Jump</a></li>
                <li><a href="/about" onclick="toggleMenu()">About</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}
    {% block script%}{% endblock %}
   <script src="{{ url_for('static', filename='script/script.js') }}"></script>


</body>
</html>