{% extends 'layout.html' %}

{% block viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block title %} About {{ president['Name'] }}{% endblock %}

{% block content %}
<div class="pres-container">
    <h2>{{ president["Name"] }}</h2>
    <div class = 'pres-info'>
    <img src="{{president['IMG filepath']}}"  alt="{{ president['Name'] }}" class="pres-image">
        <div class="pres-details">
            <p> <b>President Number</b>: {{ president["No"] }}</p>
            <p><b>Years Served</b>: {{ president["Term Years"] }}</p>
            <p><b>Vice President</b>: {{ president["Vice President"] }}</p>
            <p><b>First Lady</b>: {{ president["First Lady"] }}</p>
            <p><b>Party</b>: {{ president["Party"] }}</p>
        </div>
    </div>  
    <div class = 'pres-description'>
        <p>{{ president["Description"] }}</p>
    </div>
</div>

<div class="rating-container" data-president-name="{{ president['Name']}}">
    <h1> How would you rate <b>{{president["Name"]}} </b> ? </h1>
    <div class="star-rating">
        <span class="star" data-value="1">&#9733;</span>
        <span class="star" data-value="2">&#9733;</span>
        <span class="star" data-value="3">&#9733;</span>
        <span class="star" data-value="4">&#9733;</span>
        <span class="star" data-value="5">&#9733;</span>
      </div>
      <p id="rating-value">Rating: 0</p>
      <button id="submit-rating" > Submit Rating</button>
</div>
<div class="pres-buttons">
        {% if pres_before > 0 %}
            <a href="{{ url_for('president_profile', president_number=pres_before) }}" class="pres-button prev-button">
            Previous
            </a>
        {% endif %}
        {% if 48 > pres_after %}
            <a href="{{ url_for('president_profile', president_number=pres_after) }}" class="pres-button next-button">
             Next
            </a>
        {% endif %}
    </div>

{% endblock %}

{% block script%} 
<script src="static/script/rating.js"></script>
{% endblock %}