{% extends 'layout.html' %}
{% block viewport%}  <meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock%}

{% block title %} About {{ president['Name'] }}{% endblock %}

{% block content %}
<div class="pres-container">
    <h2>{{ president["Name"] }}</h2>
    <div class = 'pres-info'>
    <img src="{{ president['IMG filepath'] }}" alt="{{ president['Name'] }}" class="pres-image">
        <div class="pres-details">
            <p>President Number: {{ president["No"] }}</p>
            <p>Years Served: {{ president["Term Years"] }}</p>
            <p>Vice President: {{ president["Vice President"] }}</p>
            <p>First Lady: {{ president["First Lady"] }}</p>
            <p>Party: {{ president["Party"] }}</p>
        </div>
    </div>  
    <div class = 'pres-description'>
        <p>{{ president["Description"] }}</p>
    </div>
</div>

<div class="rating-container" data-president-name="{{ president['Name']}}">
    <h1> how would you rate <b>{{president["Name"]}}</b> </h1>
    <div class="star-rating">
        <span class="star" data-value="1">&#9733;</span>
        <span class="star" data-value="2">&#9733;</span>
        <span class="star" data-value="3">&#9733;</span>
        <span class="star" data-value="4">&#9733;</span>
        <span class="star" data-value="5">&#9733;</span>
      </div>
      <p id="rating-value">Rating: 0</p>
      <button id="submit-rating" > Submit Rating</button>
</div>
{% endblock %}

{% block script%} <script src = "{{ url_for('static', filename='script/rating.js') }}" defer></script>
{% endblock %}